<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/css.css" rel="stylesheet">
<title>拼吃</title>
</head>
<body class="pincheBg">
<div class="sidebarBg">
    <div class="sidebarLeft">
        <a href="javascript:history.go(-1)"><img src="/images/arrow.png" alt=""/></a>
    </div>
    <div class="sidebarRight">
        <a href="history.aspx"><img src="/images/history.png" alt=""/></a>
    </div>
    <div class="sidebarTitle">
        拼吃
    </div>
    <div class="clear"></div>
</div>
<div class="pincheDescription">
    <p>。。。。。</p>
    <p>。。。。。。。。。。。。。。。。。。</p>
    <p>。。。。。</p>
</div>
<div class="pinchePassenger"><a href="list.aspx">拼吃列表</a></div>
<div class="pincheOwner"><a href="pub.aspx">发布拼吃</a></div>
<div style="height:20px;"></div>
</body>
</html>
<script src="js/jquery.min.js"></script>
