<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=114.215.150.137;database=PinYouThink;uid=sa;pwd=mingdao@123;"/>
    <add key="CallbackUrl" value="http://localhost:46898/callback.aspx"/>
    <add key="ApiAddress" value="http://api.mingdao.com"/>
    <add key="AppKey" value="5EA1FD6F97B5"/>
    <add key="AppSecret" value="F6E99B92FDAF2B2AEF029A3C673E466"/>
    <add key="Index" value="/index.aspx"/>
    <add key="CallbackKey" value="callback.aspx"/>
    <add key="PostUrl" value="http://114.215.150.137:81/detail.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <!--<httpModules>
      <add name="UserAuthorizationModule" type="PinEverything.Web.Module.UserAuthorizationModule"/>
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules>
      <add name="UserAuthorizationModule" type="PinEverything.Web.Module.UserAuthorizationModule"/>
    </modules>
  </system.webServer>
</configuration>