.winfoTitle{
    /*font-weight: bolder;
    color: #4C1D77;*/
}
#geocoderResult{}
.roadInfoTitle{
    /*color: #4C1D77;
    font-weight: bolder;*/
}
.roadInfo{
    border-bottom:1px dashed #999;
}
.passengerMap { 
   display: none; 
}
.headerLeftIconHover{
    background-color: #84DB01!important;
    border-radius: 50px;
}
#mapMsg{
    display:none;
    text-align: center;
    color: #fff!important;
    padding: 20px;
    line-height: 20px;
}
#mapMsg a{
    color: #fff!important;
    font-weight:bolder;
}
.passengerMap{
    margin-bottom: 90px;
}